





<div class="Create_A_Snip">

<h1>Go Ahead and create your snippet </h1>
<form class="" action="edit_a_snippet" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="create_a_snippet" placeholder="Create a new Snippet"
  <p>










  </p>
<button type="Submit" name="login">Login</button>
</form>


</div>
