

<!-- Area to Edit your snippet -->



<form class="Revise_your_Snippet" action="Revise_the_snippet" method="post">

  <input type="text" name="university" placeholder="Code">
  <input type="text" name="job" placeholder="job">
  <input type="text" name="company" placeholder="company">
<button type="Submit">Edit</button>

</form>
