

<!-- Area to Edit your snippet -->



<form class="Revise_your_Snippet" action="/edit_snippet" method="post">

  <input type="text" name="title" placeholder="job:">
  <input type="text" name="body" placeholder="company:">
  <textarea name="optionalNotes" rows="8" cols="80" placeholder="optionalNotes:"></textarea>
  <input type="text" name="language" placeholder="language:">
  <input type="text" name="tags" placeholder="tags:">
  <button type="Submit">Edit</button>




</form>
