<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <a href="/create_a_snippet">Update Profile</a>
    <h3><a href="/create_a_snippet">Create your own snippet</a></h3>
    <div class="Update_This_Profile"></div>
    <!-- <a href="/login">Log Out</a> -->
    <h3><a href="/login">Please Login Here</a></h3>
    <h3><a href="/sign_up">Please Sign up Here</a></h3>
   <div class= "container">
    {{{yield}}}
  </div>
  </body>
</html>
