<form class="" action="login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">
<button type="Submit" name="login">Login</button>
</form>
