<h2>Login to Start Snippin!</h2>

<p>Login: </p>

<div class="login_page">


<form class="" action="/" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">

<button type="Submit" name="login">Login</button>
</form>


</div>
