


<div class="Please_Sign_up">

</div>

<form class="" action="sign_up" method="post">

  <input type="text" name="username" placeholder="Please type in your Username">
  <input type="text" name="password" placeholder="Input your Password">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <button type="Submit" name="button">Submit</button>
</form>
