


<div class="Please_Sign_up">


<form class="" action="/sign_up" method="post">

  <input type="text" name="username" placeholder="Type your Username">
  <input type="text" name="password" placeholder="Type in your Password">

  <button type="Submit" name="button">Submit</button>
</form>

</div>
